player-connection-mode=Listen
player-connection-guid=2814451011
player-connection-debug=0
player-connection-project-name=Konkukuniv
player-connection-ip=192.168.88.121
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=846250b55a29478091ceae92b9d1becd
